@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h1text{
  font-family: "Lilita One", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  background: #16000a;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #ffdada;
}
.webgl {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  outline: none;
}

body::before {
  content: none;
}


h1 {
  position: absolute;
  top: 10vh;
  left: 2.5rem;
  right: 1rem;
  text-align: center;
  font-family: ador-hairline, sans-serif;
  font-weight: 900;
  font-size: max(1rem, 3vh);
}
/*
button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 12vh;
  width: 12vh;
  transform: translateY(2vh);
  right: 0;
  margin: auto;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;

}*/
button:not(#celebrateBtn) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 12vh;
  width: 12vh;
  transform: translateY(2vh);
  right: 0;
  margin: auto;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}


svg {
  width: 3.5vh;
}



#countdown {
  text-align: center;
  max-width: 90vw;
  position: fixed;
  bottom: 4vh;
  left: 45%;
  transform: translateX(-50%);
  font-family: "Lilita One", sans-serif;
  font-size: clamp(1rem, 3vw, 1.6rem);
  color: #ffdada;
  letter-spacing: 2px;
  z-index: 50;
  text-shadow: 
    0 0 10px rgba(255, 150, 180, 0.6),
    0 0 20px rgba(255, 100, 150, 0.4);
  pointer-events: none;
}
/*
#celebrateBtn {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lilita One", sans-serif;
  font-size: clamp(1.1rem, 3vw, 1.8rem);
  padding: 0.6em 1.6em;
  color: #16000a;
  background: linear-gradient(135deg, #ff7eb3, #ff4d6d);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  display: none;
  z-index: 60;
  box-shadow:
    0 0 20px rgba(255, 105, 180, 0.6),
    0 0 40px rgba(255, 20, 147, 0.4);
  animation: pulse 1.5s infinite;
}*/
#celebrateBtn {
  
  font-size: clamp(0.9rem, 2.5vw, 1.2rem); /* smaller text */
  padding: 0.4em 1em; /* less space inside button */


  position: fixed;
  top: 4vh;
  right: 4vh;

  font-family: "Lilita One", sans-serif;
  /*font-size: clamp(1.1rem, 3vw, 1.8rem);*/
  line-height: 1.2;

  /*padding: 0.7em 1.8em;*/
  white-space: nowrap;
  width: fit-content;

  color: #16000a;
  background: linear-gradient(135deg, #ff7eb3, #ff4d6d);
  border: none;
  border-radius: 999px;

  cursor: pointer;
  display: none;
  z-index: 9999;

  box-shadow:
    0 0 20px rgba(255, 105, 180, 0.6),
    0 0 40px rgba(255, 20, 147, 0.4);

  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.08); }
  100% { transform: scale(1); }
}







